.progress-demo {
  &__label {
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items:  center;
    margin-top: 16px;

    @media ((orientation: landscape) and (min-width: 320px)) or (min-width: 568px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: center;
      justify-items: center;
    }
  }

  &__progress-wrapper {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    display: flex;
  }
}